body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #d4cea7;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 32px;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header {
    background-color: #ff5000;
    padding: 10px;
}

.nav li {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.nav ul {
    margin-left: 150px;
}

body {
    background-color: #d1d3a6;
}

.footer {
    background-color: #252c22;
    padding: 40px 0;
    margin-top: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 450px;
    width: 25%;
    margin-right: 40px;
    margin-top: 40px;
    background-color: #02557a;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.583);
}

ol,
ul {
    /* list-style: stylE; */
    margin-left: 44px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
}

.li-first {
    color: #bdc59e;
    list-style-type: decimal;
}

.sub-li {
    color: #bdc59e;
    list-style-type: square;
    margin-left: 40px;
}

.sub-menu {
    list-style-type: decimal;
    margin-left: 40px;
    color: #bdc59e;
}

.li-second {
    color: #bdc59e;
    list-style-type: disc;
}

.li-third {
    list-style-image: url("../image/tick.png");
    line-height: 30px;
    font-size: 15px;
    color: #bdc59e;
    margin-bottom: 10px;
    font-weight: bold;
}

.section-2 {
    font-family: "Roboto Mono", monospace;
    margin-top: 30px;
}

dd {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 40px;
    color: #7a7658;
}

dt {
    font-size: 25px;
    font-weight: 400;
    color: #2e352c;
    font-weight: bold;
}